* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font */
@font-face {
    font-family: montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat-Medium.ttf);
}


.background-404 {
    height: 100vh;
    background-image: url('/public/assets/img/arcade1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title {
    height: fit-content;
    border-top: 2px solid #4B96DB;
    border-bottom: 2px solid #4B96DB;
    padding: 20px 0 60px;
    width: 100%;
    background-color: #373737dd;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background-404 .box-title h1 {
    font-size: 8rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: montserrat-black;
}

.background-404 .box-title p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: montserrat-medium;
    font-weight: 600;
    margin-bottom: 5rem;
    font-size: 1.8rem;
}

.return {
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-weight: 800;
}

.return a {
    border: 2px solid #4B96DB;
    color: #fdfdfd;
    padding: 10px 15px;
    border-radius: 10px;
}

.return a:hover {
    cursor: pointer;
    color: #F3F3F3;
    background-color: #4B96DB;
}